:root {
    --starColour: #262626;
}

@font-face {
    font-family: "Aaux Next";
    font-weight: 800;
    src: url("../fonts/Aaux\ Next\ Bold.otf")
}
@font-face {
    font-family: "Aaux Next Italic";
    font-weight: 800;
    src: url("../fonts/Aaux\ Next\ Bold\ Italic.otf")
}
@font-face {
    font-family: "Aaux Next";
    font-weight: 700;
    src: url("../fonts/Aaux\ Next\ SemiBold.otf");
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-size: cover;
    background-image: url("static/background.png");
}

/* Team Name */
.teamName {
    position: absolute; top: 22px;
    font-family: "Aaux Next"; font-weight: 800; font-size: 35px;
    letter-spacing: 5.6px;
}
#redTeamName { left: 58px; }
#blueTeamName { right: 52.5px; }

/* Team Stars Container */
.teamStars {
    position: absolute; top: 77px;
    border-radius: 12.5px;
    display: flex;
}
#redTeamStars { left: 42px; }
#blueTeamStars {
    right: 42px; top: 77px;
    flex-direction: row-reverse
}
/* Team Stars */
.teamStar {
    width: 25px; height: 25px;
    margin: 0 16px;
    box-shadow: inset 0 0 0 6px var(--starColour);
    border-radius: 12.5px;
}
.teamStarFill { background-color: var(--starColour); }

/* Round Name */
#roundName {
    position: absolute; left: 50%; top: 86px;
    transform: translateX(-50%);
    font-family: "Aaux Next"; font-weight: 800; font-size: 22px;
    letter-spacing: 8.58px;
    text-align: center;
}
#roundName::before {
    content: "";
    display: inline-block;
    width: 8.29px;
}