:root {
    --starColour: #262626;
    --redColour: #EC704A;
    --blueColour: #00AEB7;
}

@font-face {
    font-family: "Aaux Next";
    font-weight: 700;
    src: url("../fonts/Aaux\ Next\ SemiBold.otf");
}
@font-face {
    font-family: "Aaux Next";
    font-weight: 800;
    src: url("../fonts/Aaux\ Next\ Bold.otf")
}
@font-face {
    font-family: "Aaux Next";
    font-weight: 900;
    src: url("../fonts/Aaux\ Next\ Black.otf");
}
@font-face {
    font-family: "Aaux Next Italic";
    font-weight: 800;
    src: url("../fonts/Aaux\ Next\ Bold\ Italic.otf")
}

.leftAlign { left: 58px; }

/* Background Video */
#bgVideo { position: absolute; left: 0; top: 0; }

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-size: cover;
    background-image: url("static/background.png");
}

/* Team Name */
.teamName {
    position: absolute; top: 22px;
    font-family: "Aaux Next"; font-weight: 800; font-size: 35px;
    letter-spacing: 5.6px;
}
#blueTeamName { right: 52.5px; }

/* Team Stars Container */
.teamStars {
    position: absolute; top: 77px;
    border-radius: 12.5px;
    display: flex;
}
#redTeamStars { left: 42px; }
#blueTeamStars {
    right: 42px; top: 77px;
    flex-direction: row-reverse
}
/* Team Stars */
.teamStar {
    width: 25px; height: 25px;
    margin: 0 16px;
    box-shadow: inset 0 0 0 6px var(--starColour);
    border-radius: 12.5px;
}
.teamStarFill { background-color: var(--starColour); }

/* Round Name */
#roundName {
    position: absolute; left: 50%; top: 86px;
    transform: translateX(-50%);
    font-family: "Aaux Next"; font-weight: 800; font-size: 22px;
    letter-spacing: 8.58px;
    text-align: center;
}
#roundName::before {
    content: "";
    display: inline-block;
    width: 8.29px;
}


/* Team Scores */
#teamScores {
    transition: 500ms ease-in-out;
    opacity: 1;
}
/* Team Score Text */
.teamScoreText {
    position: absolute; top: 935px;
    font-family: "Aaux Next"; font-weight: 800; font-size: 27px;
    letter-spacing: 4.32px;
}
#blueTeamScoreText { right: 53.68px; }
/* Team Score Number */
.teamScoreNumber {
    position: absolute; top: 955px;
    font-family: "Aaux Next"; font-weight: 800; font-size: 72px;
    letter-spacing: 11.52px;
    font-variant-numeric: tabular-nums;
}
.teamAccuracyNumber { display: none; }
.blueTeamNumber { right: 46.48px; }

/* Score Deltas */
#scoreDeltas {
    transition: 500ms ease-in-out;
    opacity: 1;
}
/* Team Score Number Delta */
.teamScoreDelta {
    position: absolute; left: 50%; top: 914px;
    transform: translateX(-50%);
    font-family: "Aaux Next"; font-weight: 800; font-size: 22px;
    font-variant-numeric: tabular-nums;
}
#teamScoreAccuracyDelta { display: none;}

/* Moving Score Bar */
#movingScoreBars {
    transition: 500ms ease-in-out;
    opacity: 1;
}
.teamMovingScoreBar {
    position: absolute; top: 881px;
    height: 33px;
    background-color: #262626;
    transition: 200ms ease-in-out;
}
#redTeamMovingScoreBar { right: 50%;  }
#blueTeamMovingScoreBar { left: 50%; }

/* Map Box Container */
#mapBoxContainer {
    position: absolute; left: 50%; top: 955px;
    transform: translateX(-50%);
    width: 718px; height: 52px;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: 500ms ease-in-out;
}
#mapBoxContainerLayer {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.65)
}
#mapBoxContainerText {
    position: absolute; left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: "Aaux Next"; font-weight: 900; font-size: 37px;
    letter-spacing: 4.81px;
}
#mapBoxContainerText::before {
    content: "";
    display: inline-block;
    width: 2.405px;
}

/* Song Name */
.songNameStats {
    position: absolute; left: 50%; 
    transform: translateX(-50%);
    font-family: "Aaux Next"; font-weight: 800; font-size: 22px;
    opacity: 1;
    transition: 500ms ease-in-out;
}
#songName { top: 1010px; }
#songStats {
    top: 1040px;
    display: flex;
}
#songStats > * { margin: 0 25px; }

/* Side Bar */
#sideBar {
    position: absolute; left: 1920px; top: 0;
    width: 250px; height: 1080px;
}
#sideBarCurrentScoringSystemText {
    width: inherit;
    text-align: center;
    font-family: "Aaux Next"; font-weight: 800; font-size: 18px;
}
#currentScoringSystemText {
    width: inherit;
    text-align: center;
    font-family: "Aaux Next"; font-weight: 800; font-size: 25px;
    margin-bottom: 10px;
}
.sideBarFullButton {
    width: 200px; height: 50px;
    font-family: "Aaux Next"; font-weight: 800; font-size: 20px;
    margin-bottom: 5px;
    margin-left: 25px;
    border-radius: 10px;
    background: transparent;
}
.sideBarFullButton:active {
    background: black;
    color: white;
}
#sideBarCurrentScoringSystemWarningText {
    width: inherit;
    text-align: center;
    font-family: "Aaux Next"; font-weight: 800; font-size: 16px;
}

/* Chat Display */
#chatDisplay {
    position: absolute; left: 449.35px; bottom: 0px;
    width: 1010.23px; height: 164px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    background-color: #686868;
    mix-blend-mode: multiply;
    opacity: 1;
    transition: 500ms ease-in-out;
}
#chatDisplayContainer {
    margin: 0 15px 10px;
}
.chatMessageContainer {
    font-family: "Aaux Next"; font-weight: 800; font-size: 18px;
    display: flex;
}
.chatTime { width: 8%; }
.wholeMessage {
    display: flex;
    width: 92%;
}
.messageUser {
    margin-right: 7px;
    min-width: 100px;
}
::-webkit-scrollbar {
    display: none;
}

.unknown { color: yellow; }
.left { color: var(--redColour); }
.right { color: var(--blueColour); }
.bot { color: pink }