:root {
    --redColour: #EC704A;
    --blueColour: #00AEB7;
    --starColour: #262626;
}

@font-face {
    font-family: "Aaux Next";
    font-weight: 800;
    src: url("../fonts/Aaux\ Next\ Bold.otf")
}
@font-face {
    font-family: "Aaux Next";
    font-weight: 900;
    src: url("../fonts/Aaux\ Next\ Black.otf");
}

/* Background Video */
#bgVideo { position: absolute; left: 0; top: 0; }

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-size: cover;
    background-image: url("static/background.png");
    overflow: hidden;
}

/* Team Section */
/* Team Banner */
.teamBanner {
    position: absolute; 
    width: 347px; height: 168px;
    background-color: #86C158;
}
#redTeamBanner { left: 40px; top: 199px; }
#blueTeamBanner { right: 40px; top: 452px; }
/* Team Name */
.teamName {
    position: absolute; 
    font-family: "Aaux Next"; font-weight: 800; font-size: 35px;
    letter-spacing: 5.6px;
}
#redTeamName { left: 40px; top: 372px; }
#blueTeamName { right: 34.4px; top: 625px; }
/* Team Stars Container */
.teamStars {
    position: absolute;
    border-radius: 12.5px;
    display: flex;
}
#redTeamStars { left: 40px; top: 427px; }
#blueTeamStars {
    right: 40px; top: 680px;
    flex-direction: row-reverse
}
/* Team Stars */
.teamStar {
    width: 25px; height: 25px;
    margin: 0 16px;
    box-shadow: inset 0 0 0 6px var(--starColour);
    border-radius: 12.5px;
}
.teamStarFill { background-color: var(--starColour); }
/* Bans Container */
.bansContainer {
    position: absolute;
    width: 360px;
}
#redBansContainer { left: 40px; top: 471px; }
#blueBansContainer { right: 40px; top: 155px; }
/* Bans Text */
.bansText {
    font-family: "Aaux Next"; font-weight: 800; font-size: 26px;
    letter-spacing: 4.16px;
    text-align: center;
    text-indent: 2.08px;
}
/* Ban Card Cotnainer */
.banCardsContainer { 
    display: flex;
    width: 100%;
    margin-top: 7px; 
}
.banCardsContainerOneChild { justify-content: center; }
.banCardsContainerMultipleChildren { justify-content: space-between; }
/* Ban Card */
.banCard {
    width: 170px; height: 223px;
    background-color: #C79898;
    box-shadow: inset 0 0 0 11px #323232;
}

/* Pick Section */
.pickSection {
    position: absolute; 
    display: flex;
}
#redPickSection { left: 438px; top: 206px; }
#bluePickSection {
    right: 438px; top: 459px;
    flex-direction: row-reverse;
}
/* Pick Cards */
.pickCard {
    width: 138px; height: 186px;
    background-color: #C79898;
    margin: 0 5.5px;
    position: relative;
}
.pickCard > * { position: absolute; }
.pickCardWhole {
    left: 0; top: 0;
    width: 100%; height: 100%;
}
/* Pick Card Layer */
.pickCardLayer { background-color: rgba(0,0,0,0.5); }
/* Pick Card Border */
.pickCardBorderRed { box-shadow: inset 0 0 0 9px var(--redColour); }
.pickCardBorderBlue { box-shadow: inset 0 0 0 9px var(--blueColour); }
/* Pick Card Text */
.pickCardText {
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Aaux Next"; font-weight: 900; font-size: 37px;
    letter-spacing: 4.81px;
    text-indent: 2.405px;
}

/* Round Name */
#roundName {
    position: absolute; left: 50%; top: 759px;
    transform: translateX(-50%);
    font-family: "Aaux Next"; font-weight: 800; font-size: 22px;
    letter-spacing: 8.39px;
    text-indent: 4.195px;
}

/* Chat Display */
#chatDisplay {
    position: absolute; left: 449.35px; top: 840.06px;
    width: 1010.23px; height: 232px;
    transform: rotate(2.7deg);
    clip-path: polygon(0% 30%, 16.3% 17%, 16% 0%, 100% 0%, 100% 100%, 0% 100%);
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
}
#chatDisplayContainer {
    margin: 0 15px 10px;
}
.chatMessageContainer {
    font-family: "Aaux Next"; font-weight: 800; font-size: 18px;
    display: flex;
}
.chatTime { width: 8%; }
.wholeMessage {
    display: flex;
    width: 92%;
}
.messageUser {
    margin-right: 7px;
    min-width: 100px;
}
::-webkit-scrollbar {
    display: none;
}

.unknown { color: yellow; }
.left { color: var(--redColour); }
.right { color: var(--blueColour); }
.bot { color: pink }