@font-face {
    font-family: "Aaux Next";
    font-weight: 800;
    src: url("../fonts/Aaux\ Next\ Bold.otf")
}
@font-face {
    font-family: "Aaux Next";
    font-weight: 700;
    src: url("../fonts/Aaux\ Next\ SemiBold.otf");
}

#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
}

/* Replay By */
.replayBy {
    position: absolute; top: 550.08px;
    font-family: "Aaux Next"; font-size: 26.48px;
    color: white;
    letter-spacing: 1.0592px;
}
#replayByText {
    left: 45px; 
    font-weight: 800;
}
#replayByUsername {
    right: 1373px;
    font-weight: 700; 
}

/* Length, SR, BPM */
#lengthSRBPMGrid {
    position: absolute; left: 45px; top: 620px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}
.lengthSRBPMGridItem {
    font-family: "Aaux Next"; font-weight: 800; font-size: 26.48px;
    letter-spacing: 1.0592px;
    color: white;
}
.lengthSRBPMGridItem:nth-child(2n-1) {
    width: 100px;
}
.lengthSRBPMGridItem:nth-child(2n) {
    text-align: right;
    width: 107px;
}

/* AR, CS, HP, OD*/
#ARCSHPODGrid{
    position: absolute; left: 445px; top: 620px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
}
.ARCSHPODGridItem {
    font-family: "Aaux Next"; font-weight: 800; font-size: 26.48px;
    letter-spacing: 1.0592px;
    color: white;
}
.ARCSHPODGridItem:nth-child(2n-1) {
    width: 35px;
}
.ARCSHPODGridItem:nth-child(2n) {
    text-align: right;
    width: 50px;
}