:root {
    --starColour: #262626;
}

@font-face {
    font-family: "Aaux Next";
    font-weight: 800;
    src: url("../fonts/Aaux\ Next\ Bold.otf")
}
.leftAlign { left: 208px; }

/* Background Video */
.bgVideo {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
}

/* Whole page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    overflow: hidden;
    font-family: "Aaux Next"; font-weight: 800;
}
#bgVideoBlue { opacity: 0; }

/* Round Name */
#roundName {
    position: absolute; left: 1244.3px; top: 170.8px;
    font-size: 34.53px;
    letter-spacing: 13.4667px;
    width: 596.51px;
    text-align: center;
    text-indent: 6.73335px;
}

/* Team Banner */
#teamBanner {
    position: absolute; top: 394px;
    width: 603px; height: 291.94px;
    background-size: cover;
    background-position: center;
    background-color: #86C158;
}

/* Team Name */
#teamName {
    position: absolute; top: 701px;
    font-size: 67.64px;
    letter-spacing: 10.7854px;
}

/* Team Stars */
#teamScores {
    position: absolute; top: 807.3px;
    font-size: 100px;
    color: var(--starColour);
}

/* Player Information */
#teamInformation {
    position: absolute; left: 1225px; top: 60%;
    transform: translateY(-50%);
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.playerInformation {
    margin: 5px 0;
    display: flex;
}
.playerImage { width: 90px; }
.playerName { 
    height: 90px;
    line-height: 90px; 
    font-size: 35px;
    margin-left: 20px;
}